body{
    background-image: url('nicebackground.jpg');
}

p{
    font-weight: bold;
    color: #FFFFF;
    font-family: "Arial";
}

h3{
    color: #82FFED;
}

li{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

#Header{
    background-color: #8E41D5; 
    text-align:center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
}

#Header h1{
    background-color: #8E41D5; 
    font-size: 60px;
    font-family: "Passion One";
    color: #5F9B38;
    font-weight: bold;
}

#LeftNav{
    background-color: #8E41D5; 
    float: left;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    text-align:center;
    padding-bottom: 8px;
}

#LefNav img{
    background-color: #8E41D5; 


}

#LeftNav ul{
    background-color: #8E41D5; 
    list-style-type: none;
    padding-left: 0px;
}

#LeftNav h3{
    background-color: #8E41D5; 
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;


}

#Content{
    color: #FFFFFF;
    font-style: italic;
    background-color: #8E41D5; 
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    text-align:center;
    padding: 15px;
}

#Footer{
    color: #FC46AA;
    background-color: #8E41D5; 
    border:solid 8px black;
    text-align:center;
}